{% block sidebar %}
  {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block good_list %}

  {%load static%}

  {% if request.user.is_authenticated %}
    <p style="position: absolute; right: 20px; top: 40px" class="text-primary">
      {{request.user.username}}
    </p>
    <a href="{% url 'user_profile' user.pk %}" class="btn btn-outline-primary" style="position: absolute; right: 20px; top: 70px;">
      Профиль
    </a>
  {% endif %}

  <div class="container overflow-hidden">
    <div class="row">
      <div class="card-deck">
        {% for object in goods %}
          <div class="col-md-4">
            <div class="card" style="max-width: 400px; height: 700px;">
              <h5 class="card-header bg-secondary text-white">{{ object.name }}</h5>
              <p></p>
              <a href="{% url 'good_detail' object.pk %}" class="btn btn-outline-primary" style="position: absolute; left: 20px; top: 70px;">
                Подробнее
              </a>
              <p></p>
              {% if request.user.is_staff %}
                <a href="{% url 'good_delete' object.pk %}" class="btn btn-outline-danger" style="position: absolute; left: 20px; top: 120px;">
                  Удалить
                </a>
                <p></p>
                <a href="{% url 'good_update' object.pk %}" class="btn btn-outline-success" style="position: absolute; left: 20px; top: 170px;">
                  Обновить
                </a>
              {% endif %}
              <div class="card-body">
                <img class="img-thumbnail" src="{{ object.image.all.0.image.url }}" height="100%"style="margin-top: 120px;">
                <p></p>
                <li class="card-text" style="margin-left: 10px;">Описание: {{ object.description }}</li>
                <li class="card-text" style="margin-left: 10px;">Базовая цена: {{ object.basic_price }} руб.</li>
                <li class="card-text" style="margin-left: 10px;">Категория: {{ object.category }}</li>
                <li class="card-text" style="margin-left: 10px;">
                  Цвета:
                  {% for color in object.colors.all %}
                  {{ color.color_name }},
                  {% endfor %}
                </li>
              </div>
            </div>
          </div>
          {% if user.is_authenticated %}
            <form method="POST" action="{% url 'favourites_create' object.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary" style="margin-top: 10px;">
                {% for favorite_good in user.user.all %}
                  {% if object.pk == favorite_good.good.pk %}
                    Удалить из избранного
                  {% else %}
                    Добавить в избранное
                  {% endif %}
                {% endfor %}
              </button>
            </form>
          {% endif %}
        {% endfor %}
      </div>
      {% if request.user.is_staff %}
        <a href="{% url 'good_create' %}" class="btn btn-primary" style="position: absolute; left: 300px; top: 70px;">
          Создать товар
        </a>
      {% endif %}
      {% if request.user.is_authenticated %}
        <a href="{% url 'deal_create' %}" class="btn btn-primary" style="position: absolute; left: 300px; top: 140px;">
          Создать сделку
        </a>
        <a href="{% url 'user_logout' %}" class="btn btn-warning" style="position: absolute; left: 300px; top: 200px;">
          Выйти
        </a>
      {% else %}
        <a href="{% url 'user_create' %}" class="btn btn-warning" style="position: absolute; left: 300px; top: 150px;">
          Зарегистрироваться
        </a>
        <a href="{% url 'user_login' %}" class="btn btn-warning" style="position: absolute; left: 300px; top: 250px;">
          Войти
        </a>
      {% endif %}
      <p>{{users_number}}</p>
    </div>
  </div>
{% endblock %}